<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.secesd.debug">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="br.org.secesd.app.AtividadeAcesso" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="br.org.secesd.app.AtividadePainel" android:exported="false" />
        <activity android:name="br.org.secesd.app.AtividadeCadastro" android:exported="false" />
        <activity android:name="br.org.secesd.app.AtividadeTrajetoria" android:exported="false" />
        <activity android:name="br.org.secesd.app.AtividadeMemorial" android:exported="false" />
        <activity android:name="br.org.secesd.app.AtividadeMemorialVida" android:exported="false" />
        <activity android:name="br.org.secesd.app.AtividadeGaleria" android:exported="false" />
        <activity android:name="br.org.secesd.app.AtividadeDocumentos" android:exported="false" />
        <activity android:name="br.org.secesd.app.AtividadeBackup" android:exported="false" />
    </application>
</manifest>
